.quarto-title-block .quarto-title-banner {
  background-image: url("C:/Users/Andrew.Hood/OneDrive - Midlands and Lancashire CSU/Working Projects/1083 WMAP paeds/repo/West_Midlands_Paediatric_Review/tsu_logo_black.png");
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
