.quarto-title-block .quarto-title-banner {
  background-image: url("C:/Users/Jacqueline.Grout/OneDrive - Midlands and Lancashire CSU/Documents/GIT/nhp_royalliverpool_newsite/tsu_logo_black.png");
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
